No space after colon on MAIL FROM and RCPT TO

```
What steps will reproduce the problem?
1. Run code

Please provide any additional information below.

RFC821 Section 3.1 clearly states the specific format of the MAIL FROM and
RCPT TO commands included where spaces should and shouldn't be.
There clearly should NOT be a space between the colon and the < in each of
these commands.




```

Original issue reported on code.google.com by `brianjbl...@gmail.com` on 13 May 2010 at 10:45
